.App {
  text-align: center;
}

.Header-logo {
  height: 40vmin;
  pointer-events: none;
  aspect-ratio: 1/1;
  width: 50px;
  height: 50px;
  resize: contain;
  margin-right: 10px;
}

.Header-flip {
  /* width: fit-content; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Header-logo {
    animation: Header-logo-spin infinite 3s linear;
  }
  /* .Header-flip {
    animation: Header-logo-flip infinite 5s linear;
  } */
}

.navlink {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  color: azure;
  margin-right: 10px;
}

.navlink:hover {
  text-decoration: none;
  color: beige;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes Header-logo-flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
